In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [2]:
df=pd.read_csv(r'E:\ml projects and playlists\salary_heroku\hiring.csv')

In [3]:
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [4]:
df['experience']=df['experience'].fillna(0)

In [5]:
df=df.rename(columns={"interview_score(out of 10)":"interview_score",
                   "test_score(out of 10)":"test_score"})

In [6]:
df['test_score']=df['test_score'].fillna(df['test_score'].mean())

In [7]:
df=df.round({"test_score":0})

In [8]:
def word_to_int(word):
    word_convert={'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,0:0,'seven':7,'eight':8,'nine':9,'ten':10,'eleven':11}
    return word_convert[word]

In [9]:
df['experience']=df['experience'].apply(lambda x : word_to_int(x))

In [10]:
x=df.iloc[:,:3]
y=df.iloc[:,:-1]

In [11]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

regressor.fit(x,y)

In [12]:
regressor.fit(x,y)

LinearRegression()

In [13]:
pickle.dump(regressor,open('model.pkl','wb'))